
@{
    ViewBag.Title = "ShoppingPage";
}

@section scripts
{
    <script>
        angular.module("MainApp", ["ngMaterial", "ngMessages"])
            .controller("MainCtrl", ["$http", function ($http) {
                common.log("angular");
            }]);
    </script>
}

<div ng-module="MainApp" ng-controller="MainCtrl as ctrl" style="padding-top: 50px">
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse">測試OPEN POINT交易</a>
            </h4>
        </div>
        <div id="collapse" class="panel-collapse collapse in">
            <div class="panel-body">

                <form class="form-horizontal" role="form" action="@Url.Action("getOPWqrcodeAPI", "Bank")" method="POST">
                    <div class="row">
                        @*<div class="col-md-12">
            <md-input-container>
                <label>版本</label>
                <md-select name="version" ng-model="version">
                    <md-option value="v11" selected>v11</md-option>
                    <md-option value="v10">v10</md-option>
                </md-select>
            </md-input-container>
        </div>*@
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>訂購人姓名</label>
                                <input type="text"
                                       class="form-control"
                                       required="required"
                                       name="ShipName"
                                       maxlength="20"
                                       value="Shane">
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>寄送地址</label>
                                <input type="text"
                                       class="form-control"
                                       required="required"
                                       name="ShipAddress"
                                       maxlength="100"
                                       value="">
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container>
                                <label>訂購商品</label>
                                <md-select name="UnitPrice" ng-model="UnitPrice">
                                    <md-option value="200" selected>白素T</md-option>
                                    <md-option value="250">黑素T</md-option>
                                    <md-option value="300">LogoT</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label>訂購數量</label>
                                <input type="text"
                                       class="form-control"
                                       required="required"
                                       name="Quantity"
                                       maxlength="10"
                                       value="">
                            </md-input-container>
                        </div>

                        @*<div class="col-md-12">
            <md-input-container class="md-block">
                <label>各系統的OP特店MerchantID</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="MerchantID"
                       maxlength="20"
                       value="990231310">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>廠商訂單編號</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="OrgOrderNumber"
                       maxlength="20"
                       value="@ViewData["merchantTradeNo"]">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>訂單金額</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="Amount"
                       value="100">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container>
                <label>請款類型</label>
                <md-select name="authParty" ng-model="authParty">
                    <md-option value="OPW" selected>OPW</md-option>
                    <md-option value="ICASH">ICASH</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container>
                <label>支付模式</label>
                <md-select name="entryMode" ng-model="entryMode">
                    <md-option value="01">線下交易</md-option>
                    <md-option value="02" selected>線上交易</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>交易名稱</label>
                <input type="text"
                       class="form-control"
                       name="transName"
                       required="required"
                       value="測試交易名稱">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>商店名稱</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="storeName"
                       value="測試商店名稱">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>返回頁面網址</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="redirectUrl"
                       value="https://paydev.azurewebsites.net/Bank/SubSysCatch">
            </md-input-container>
        </div>
        <div class="col-md-12">
            <md-input-container class="md-block">
                <label>返回資料網址</label>
                <input type="text"
                       class="form-control"
                       required="required"
                       name="CallBackUrl"
                       value="https://paydev.azurewebsites.net/Bank/SubSysCatch">
            </md-input-container>
        </div>*@
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">
                                確定
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
